* {
  margin: 0px;
  padding: 0px;
}
/*navbar*/

main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to right bottom,
    rgb(12, 12, 12),
    rgb(232, 67, 147)
  );
}
h1 {
  font-size: 2.8rem;
  letter-spacing: 0.12rem;
  margin-bottom: 2.5rem;
  color: antiquewhite;
}
h1 .dev {
  color: #ff7200;
  font-size: 3.125rem;
  letter-spacing: 0.16rem;
  line-height: 5rem;
}
h2 {
  letter-spacing: 0.25rem;
  font-size: 1.375rem;
  text-align: center;
  color: aliceblue;
}
.creator {
  font-size: 0.875rem;
}
.clock {
  display: flex;
}
.clock div {
  margin: 0.313rem;
  position: relative;
}
.clock span {
  width: 6.25rem;
  height: 5rem;
  background: #660000;
  opacity: 0.8;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.125rem;
  text-shadow: 2px 2px 4px, rgba(0, 0, 0, 0.3);
}
.clock .text {
  height: 1.875rem;
  font-size: 0.625rem;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  background: #254636;
  opacity: 0.6;
}
.clock #ampm {
  bottom: 0;
  position: absolute;
  width: 3.75rem;
  height: 1.875rem;
  font-size: 1.25rem;
  background: #254636;
}
